# The directory Mix will write compiled artifacts to.
/_build/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
socialnetwork-*.tar

# Python virtual environment.
/apps/socialnetwork/lib/python/venv/

# The language model trained for conversation.
/apps/socialnetwork/lib/python/trained_model/

# Python cache
/apps/socialnetwork/lib/python/trained_model/

# ReactJS packages and stuff
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/js_ui/node_modules
/js_ui/.pnp
/js_ui.pnp.js

# testing
/js_ui/coverage

# production
/js_ui/build

# misc
/js_ui/.DS_Store
/js_ui/.env.local
/js_ui/.env.development.local
/js_ui/.env.test.local
/js_ui/.env.production.local

/js_ui/npm-debug.log*
/js_ui/yarn-debug.log*
/js_ui/yarn-error.log*
